Django==5.2.7
gunicorn==23.0.0
whitenoise==6.9.0
pandas==2.3.1
numpy==2.3.2
openpyxl==3.1.5
Pillow==11.3.0
requests==2.32.5
django-import-export==4.4.0
djangorestframework==3.16.1
sib-api-v3-sdk==7.6.0